target/*
src/main/java/com/numbers/discordbot/client/Init.java
.idea/*
BallBasherBot.iml
src/main/java/com/numbers/discordbot/client/Init.kt
nodeRedditPlaylistService/node_modules/*
bot.config.json
*.jar
hs_err_pid13068.log
discordbot-firebase.json
*.log
*.log*
*.log
